/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(12, 34, 73);
  font-family: 'Times New Roman', Times, serif;
  border: none;
}

body {
  background-color: rgb(47, 74, 124);
}

h1 {
  text-align: center;
  font-size: 25px;
  background-color: #FFF;
  height: 45px;
  
}


#login-container {
  border-radius: 15px;
  border: solid 1px rgba(68, 68, 68, 0.89);
  background-color: #FFF;
<<<<<<< HEAD
  width: 470px;
  height: 500px;
=======
  width: 450px;
  height: 410px;
>>>>>>> 0b457e418e2dd0fca1986f70758b6edfcad13973
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 5vh;
  text-align: center;
}

form {   
  margin-top: 20px;
  margin-bottom: 20px;

}

a {
  font-size: 18px;
  float: left;
  display: inline;
  margin-top: 10px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

input[type=email],[type=password] {
  border:solid 1px rgba(189, 187, 187, 0.808);
  padding: 10px;
}

#botao-cadastrar-se:hover {
  background-color: gray;
  color: #FFF;
}

#botao-cadastrar-se {
  text-align: center;
  background-color: rgba(219, 214, 214, 0.774);
  color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 20px;
  
} 

#botao-entrar {
  text-align: center;
  background-color: rgb(13, 77, 216);
<<<<<<< HEAD
  float: right;
  margin-top: 10px;

=======
>>>>>>> 0b457e418e2dd0fca1986f70758b6edfcad13973
  
}
input[type=submit], input[type=button] {
  margin-top: 15%;
  color: #FFF;
  width: 100px;
  height: 45px;
  display:inline-block;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0px;
}
label, input {
  font-size: 20px;
  border-radius: 3px;
  text-align: left;
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 1px;
}
.message {
  margin-top: 3px;
  font-size: 17px; 
  
}
.success {
  color: rgb(0, 185, 0);
}

.error {
  color: red;
}
button:disabled.true,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#res {
<<<<<<< HEAD
  background-color: green;
  color: #FFF;
  font-size: 23px;
  border-radius: 5px;
  height: 40px;  
  float: left;
  margin-left: 40px;
  width: 300px;
  margin-top: 30px;
}
#link{
  background-color: rgba(219, 214, 214, 0.774);
  color: blue;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 170px;
}
#Sair {
  background-color: rgb(218, 40, 40);
  height: 25px;
  width: 50px;
  color: #FFF;
  border-radius: 5px;
  float: right;
  margin-right: 15px;
=======
background-color: green;
color: #FFF;
font-size: 23px;
border-radius: 5px;

>>>>>>> 0b457e418e2dd0fca1986f70758b6edfcad13973
}