/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  
}

body {
  background-color: rgba(172, 169, 169, 0.822);
}

@media screen and (max-width: 780px){
 
#imagemDoUsuario {
display: none;
}
#nameUser{
display: none;
}
#logoSite{
  text-align: center;
}
}
#menu {
  margin-left: 0px;
  width: 32px;
  margin-top: -5px;
  margin-bottom: 0px;
  height: 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 20px;


}

#login-container {
  border-radius: 5px;
  border: solid 1px rgba(80, 78, 78, 0.808);
  background-color: #FFF;
  width: 450px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  margin-top: 5vh;
  text-align: center;
}

#cadastrar-container {
  border-radius: 5px;
  border: solid 1px rgba(80, 78, 78, 0.808);
  background-color: #FFF;
  width: 500px;
  height: 570px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  margin-top: 3vh;
  text-align: center;
}
form {
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline;
}


a:hover {
  color: blue;
}

input[type=email],
[type=password] {
  border: solid 1px rgba(158, 156, 156, 0.808);
  margin-top: 30px;
  margin-bottom: 15px;
  display: inline-block;

}

.menuNav {
  width: 100%;
  height: 60px;
  color: #FFF;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #3498db;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 10px;
}

ul li {
  float: left;
  margin-top: 10px;
}

ul li a {
  width: 110px;
  color: rgb(32, 132, 214);
  display: block;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

ul li ul {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

ul li ul li {
  float: none;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
  border-radius: 5px;
}

#logoSite {
  margin-left: 15px;
  margin-top: 15px;
  float: left;
  color: #017dcf;
  font-size: 25px;
  font-weight: bold;
}

#imagemDoUsuario {
  height: 40px;
}

#botao-cadastrar-se:hover {
  background-color: #666666;
  color: #FFF;
}

#botao-cadastrar-se {
  color: rgb(16, 159, 241);
  font-size: 20px;
}

#botao-entrar {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  background-color: #3498db;
  font-weight: bold;
}

input[type=submit],
input[type=button] {
  color: #FFF;
  font-size: 25px;
  
}
input[type=text]  {
  border: solid 1px rgba(158, 156, 156, 0.808);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;

}
label,
input {
  border-radius: 3px;
  text-align: left;
  display: block;
  width: 100%;
  height: 45px;
  
}

.message {
  font-size: 19px;
  margin-bottom: -20px;
  margin-top: -10px;
}

.success {
  color: rgb(0, 185, 0);
}

.error {
  color: red;
}

button:disabled.true,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#nameUser {
  color: #3498db;
  font-size: 10px;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
}

#resultado {
  color: rgb(247, 10, 10);
  background-color: #ffd82c;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
  margin-bottom: 0px;
  
}

#link:hover {
  color: blue;
}

#link {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 100px;
  padding: 10px;
}

footer {
  float: right;
}

#Sair {
  background-color: rgb(218, 40, 40);
  color: #FFF;
  border-radius: 0;
}