/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(12, 34, 73);
  font-family: 'Times New Roman', Times, serif;
  border: none;
}

body {
  background-color: rgb(47, 74, 124);
}

h1 {
  text-align: center;
  font-size: 30px;
  background-color: #FFF;
  height: 45px;
  
}
#Sair {
  background-color: rgb(218, 40, 40);
  height: 25px;
  width: 50px;
  color: #FFF;
  border-radius: 5px;
  float: right;
  margin-right: 15px;
}

#link{
  background-color: rgba(219, 214, 214, 0.774);
  color: blue;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 250px;
}
#login-container {
  border-radius: 15px;
  border: solid 1px rgba(68, 68, 68, 0.89);
  background-color: #FFF;
  width: 550px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 5vh;
  text-align: center;
}

form {   
  margin-top: 20px;
  margin-bottom: 20px;

}

a {
  font-size: 18px;
  float: left;
  display: inline;
  margin-top: 10px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

input[type=email],[type=password] {
  border:solid 1px rgba(189, 187, 187, 0.808);
  padding: 10px;
}

#botao-cadastrar-se:hover {
  background-color: gray;
  color: #FFF;
}
#botao-entrar {
  float: right;
  text-align: center;
  margin-top: 40px;
  background-color: rgb(3, 74, 226);
  
}
#botao-cadastrar-se {
  float: right;
  text-align: center;
  background-color: rgba(219, 214, 214, 0.774);
  color: blue;
  width: 120px;
  display: flex;
	justify-content: center;
} 

input[type=submit], input[type=button] {
  margin-top: 15%;
  color: #FFF;
  width: 100px;
  height: 45px;
  display:inline-block;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0px;
}
label, input {
  font-size: 20px;
  border-radius: 3px;
  text-align: left;
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 1px;
}
.message {
  margin-top: 3px;
  font-size: 17px; 
  
}
.success {
  color: rgb(0, 185, 0);
}

.error {
  color: red;
}
#res {
  background-color: rgb(47, 199, 27);
  width: 300px;
  height: 40px;
  margin-top: 200px;
  margin-left: 80px;
  font-size: 25px;
  border-radius: 5px;
  color: #FFF;
}