/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(12, 34, 73);
    font-family: 'Times New Roman', Times, serif;
    border: none;
  }
  
  body {
    background-color: rgb(124, 126, 129);
  }
  
  #tituloCadastrar {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 10px;
  
  }
  
  
  #login-container {
    border-radius: 5px;
    border: solid 1px rgba(68, 68, 68, 0.89);
    background-color: #FFF;
    width: 470px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    text-align: center;
  }
  
  form {   
    margin-top: 0px;
    margin-bottom: 0px;
  
  }
 
  a:hover {
    color: blue;
  }
  #name {
    
    display: flex;
  }

  #lastname {
    width: 40%;
    display: flex;
  }
  input[type=email],[type=password],[type=text] {
    border:solid 1px rgba(102, 102, 102, 0.808);
    padding: 10px;
    margin-top: 0;
    
  }
  
  #botao-cadastrar-se:hover {
    
    color: #FFF;
  }
  
  #botao-cadastrar-se {
    color: rgb(16, 159, 241); 
    font-size: 20px;
    padding: 10px 170px;
    
  } 
  #botao-entrar:hover {
    color: rgb(2, 19, 92);
    border: solid 1px rgb(2, 19, 92);
  }
  #botao-entrar {
    display: block;
    text-align: center;
    background-color: #3498db;
    margin-top: 0px ;
    
  }
 
  input[type=submit], input[type=button] {
  color: #FFF;
  font-size: 25px;
  margin-top: 10px;
  }
  label, input {
    font-size: 20px;
    border-radius: 3px;
    text-align: left;
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 1px;
  }
  .message {
    margin-top: 0px;
    font-size: 17px; 
    
  }
  .success {
    color: rgb(0, 185, 0);
  }
  
  .error {
    color: red;
  }
  button:disabled.true,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  #res {
    color: rgb(224, 14, 14);
    font-size: 23px;
    border-radius: 5px;
    height: 40px;  
    float: left;
    margin-left: 70px;
    width: 300px;
    margin-top: 30px;
  }
  #link{
    display: block;
  }
  
  #load {
    width: 30px;
    height: 30px;

    border: rgba(0, 0, 0, 0.18) solid;
    border-left-color: #e20202;
    border-radius: 50%;
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    display: none;
    animation: loading 1.2s infinite linear;
  }
  @keyframes loading {
    to {transform: rotate(360deg);}
  }
